<section id="ve-chung-toi">
    <div class="pb-3 pt-3 d-flex">
        <div class="magazine-title">
            <h4>BÁO CHÍ NÓI VỀ CHÚNG TÔI</h4>
        </div>
        <div id="myCarouselMagazie" class="carousel slide w-100 ml-2 magazine-item" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                @if (Convert.ToInt32(@Context.Request.Cookies.FirstOrDefault(d => d.Key == "userdevice").Value) <= 390)
                {

                    @foreach (var row in (ViewBag.NewsPaperPostRows as IEnumerable<IEnumerable<Shared.Models.NewsPaperPost>>).Select((items, index) => new { items, index }))
                    {
                        <div class="carousel-item @(@row.index == 0 ? "active": "")">
                            <div class="row">
                                @foreach (var item in row.items)
                                {
                                    <div class="col-6">
                                        <a href="@item.Link" target="_blank">
                                            <img class="card-img-top" src="@item.UploadedImage?.Url" alt="@item.Hint" loading="lazy">
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    @foreach (var row in (ViewBag.NewsPaperPostRows as IEnumerable<IEnumerable<Shared.Models.NewsPaperPost>>).Select((items, index) => new { items, index }))
                    {
                        <div class="carousel-item @(@row.index == 0 ? "active": "")">
                            <div class="row">
                                @foreach (var item in row.items)
                                {
                                    <div class="news-paper">
                                        <a href="@item.Link" target="_blank">
                                            <img class="card-img-top" src="@item.UploadedImage?.Url" alt="@item.Hint" loading="lazy">
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    }

                }
            </div>
            <a class="carousel-control-prev" href="#myCarouselMagazie" role="button" data-slide="prev">
                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarouselMagazie" role="button" data-slide="next">
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
