@using LamMocBaoWeb.Resources
@using Services.Services
@using Shared.Utilities
@using System.Web
@using LamMocBaoWeb.Utilities
@model ResultListView<Shared.Models.Category>
@inject IServiceConfig _config

@{
    ViewData["Title"] = @Resource.Label_Categories;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #from-server-dom {
        /* display: none; */
        position: fixed;
        top: 100px !important;
        left: 30%;
        width: 50%;
    }
</style>
<link rel="stylesheet" href="~/lib/jquery/css/jquery-confirm.min.css" />
@using (Html.BeginForm("CategoryAdmin", "Category", FormMethod.Get, new { id = "category-admin-form" }))
{
    <div class="row">
        <div class="search-box-group d-block ml-1 col-10 row">
            <input id="searchCategory" class="search-box form-control form-control-sm d-block"
                   placeholder="@Resource.Category_Search_Placeholder"
                   name="Search"
                   value="@ViewBag.SearchText">
            <button class="search-button btn btn-sm btn-info d-block" onclick="onSearch()">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="table-wrap table-responsive-lg">
                <table class="table table__admin table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 15%">
                                @Resource.Category_Name
                            </th>
                            <th style="width: 5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Data)
                        {
                            <tr id="content-@item.Id" class="hideContent">
                                <td>
                                    <div>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a class="h5" href="@Url.Action("CategoryAdminEdit", "Category", new { id = item.Id})">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.Raw(@PageUtitlities.Pagination(Model.MaxPage, ViewBag.Page, "float-right"))

            </div>
        </div>
    </div>
}

<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    function createCategory() {
        LoaderService.Show();
        $.ajax({
            url: 'san-pham/create',
            success: function (html, textstatus, jqxhr) {
                DialogBox.Show(html);
                LoaderService.Hide();
            }
        });
    }
    function editCategory(id) {
        LoaderService.Show();
        $.ajax({
            url: '/admin/san-pham/' + id,
            success: function (html, textStatus, jqXHR) {
                DialogBox.Show(html);
                LoaderService.Hide();
            }
        });
    }

    function deleteCategory(id, name) {
        function deleteFunc() {
            LoaderService.Show();
            $.ajax({
                method: 'delete',
                url: '/admin/san-pham/delete/' + id,
                success: function(html, textStatus, jqXHR) {
                    $('form#product-admin-form').submit();  
                }
            });
            LoaderService.Hide();
        }
        DialogBox.Confirm(String.format('@Resource.Produuct_Delete_Confirm', name), deleteFunc, '@Resource.Buttons_Yes', '@Resource.Buttons_No');

    }

    function onSearch() {
        $('#searchCategory').submit();
    }

    function showMore(value) {
        if ($(`#content-${value}`).hasClass('hideContent')) {
            $(`#content-${value}`).removeClass("hideContent")
            $(`#content-${value}`).addClass("showContent");
            $(`#myBtn-${value}`).html(`<i class="fa-solid fa-angle-down"></i>`);
        } else {
            $(`#content-${value}`).removeClass("showContent")
            $(`#content-${value}`).addClass("hideContent");
            $(`#myBtn-${value}`).html(`<i class="fa-solid fa-angle-right"></i>`);
        };
    }
</script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/upload-image.js" asp-append-version="true"></script>