@*@using LamMocBaoWeb.Controllers
@using LamMocBaoWeb.Models
@using LamMocBaoWeb.Resources;
@using LamMocBaoWeb.ViewModels
@using Services.Services
@model CreateCategoryModel
@inject IServiceConfig _config 

@{
    ViewData["Title"] = @Resource.Label_Categories;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("CategoryAdminCreate", "Category", FormMethod.Post))
{
    <div class="main-dialog" id="main-modal" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Resource.Category_CreateNew_Category</h5>
                <div class="button-group pull-right">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa-solid fa-floppy-disk"></i>
                        @Resource.Common_Create
                    </button>
                    @Html.ActionLink(@Resource.Common_Close, "CategoryAdmin", "Category", null, new {
                        @class="btn btn-sm btn-danger"
                    })
                </div>
            </div>
            <div class="main-content">
                <div class="form-content">
                    <div class="col-md-12 ">
                        <div class="form-group row">
                            <label>@Resource.Category_Name</label>
                            <input type="text" class="form-control" placeholder="@Resource.Category_Name" name="Name" value="@Model.Name">
                            @Html.ValidationMessageFor(d => d.Name)
                        </div>
                        <div class="form-group row">
                            <label>@Resource.Category_SequenceNumber</label>
                            <input type="number" readonly class="form-control" placeholder="@Resource.Category_Name" name="SequenceNumber" value="@Model.SequenceNumber">
                            @Html.ValidationMessageFor(d => d.SequenceNumber)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@