@using LamMocBaoWeb.Resources
@using LamMocBaoWeb.ViewModels
@using Newtonsoft.Json
@using Services.Services
@using Shared.Utilities
@model EditCategoryViewModel
@inject IServiceConfig _config
@{
    var serializerSettings = new JsonSerializerSettings();
    serializerSettings.ContractResolver = new Newtonsoft.Json.Serialization.DefaultContractResolver();
    var editModel = @Html.Raw(JsonConvert.SerializeObject(Model, serializerSettings));
    var splitter = Constant.SPLITTER;
    ViewData["Title"] = @Resource.Label_Categories;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@if (Model == null)
{
    <div class="main-dialog" id="main-modal" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p>@string.Format(Resource.Common_No_Result, Resource.Label_Categories)</p>
            </div>
        </div>
    </div>
}
else
{
    @using (Html.BeginForm("CategoryAdminUpdate", "Category", null, FormMethod.Post))
    {
        <input type="hidden" class="form-control" placeholder="@Resource.Category_Name" name="Id" value="@Model.Id">
        <input type="hidden" name="RemoveOldImages" />
        <div class="main-dialog" id="main-modal" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Resource.Category_Update_Category</h5>
                    <div class="button-group pull-right">
                        <button type="submit" class="btn btn-sm btn-primary">@Resource.Common_Update</button>
                        @Html.ActionLink(@Resource.Common_Close, "CategoryAdmin", "Category", null, new {
                @class="btn btn-sm btn-danger"
                })
                    </div>
                </div>
                <div class="main-content">
                    <div class="form-content">
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label>@Resource.Category_Name</label>
                                <input type="text" class="form-control" placeholder="@Resource.Category_Name" name="Name" value="@Model.Name">
                                @Html.ValidationMessageFor(d => d.Name)
                            </div>
                            @if (Model.ShowOnHomePage)
                            {
                                <div class="form-group row">
                                    <label>@Resource.Category_HomePageSequenceNumber</label>
                                    <input type="number" step="1" min="1" max="@ViewBag.MaxSequenceNumber" class="form-control" name="HomePageSequenceNumber" value="@Model.HomePageSequenceNumber">
                                    @Html.ValidationMessageFor(d => d.HomePageSequenceNumber)
                                </div>
                            }
                            @if(Model.ShowOnFilter)
                            {
                                <div class="form-group row">
                                    <label>@Resource.Category_FilterSequenceNumber</label>
                                    <input type="number" step="1" min="1" max="@ViewBag.MaxSequenceNumber" class="form-control" name="FilterSequenceNumber" value="@Model.FilterSequenceNumber">
                                    @Html.ValidationMessageFor(d => d.FilterSequenceNumber)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script type="text/javascript">
    var __splitter = '@splitter';
    $(document).ready(function() {
        var _model = @editModel;
        FormUtils.SetFormValue('editCategoryAdmin', _model);
        LoaderService.Register();
    });

    function removeOldItem(item) {
        var removeOldImages = $('[name=RemoveOldImages]');
        var value = removeOldImages.val();
        var images = value.split(__splitter).filter((item) => !!item);
        images.push(item);
        var imageStr = images.join(__splitter);
        removeOldImages.val(imageStr);
        $('#product-image-' + item).remove();
    }
</script>


