@using LamMocBaoWeb.Resources;
<div class="nav-menu">
    <nav class="nav flex-column p-2">
        <button class="btn btn-outline-dark m-2" style="width: 50px" onclick="toggleNavMenu()"><i class="fa-solid fa-bars"></i></button>
        <a class="nav-link" href="/admin/san-pham"><i class="fas fa-cubes"></i> <span class="nav-label">@Resource.Label_Products</span></a>
        <a class="nav-link" href="/admin/kho-hang"><i class="fa-solid fa-cubes-stacked"></i> <span class="nav-label">@Resource.Label_Stocks</span></a>
        
        <a class="nav-link" href="/admin/don-hang"><i class="fas fa-shopping-cart"></i> <span class="nav-label"> @Resource.Label_Orders</span></a>
        <a class="nav-link" href="/admin/dat-lich"><i class="fas fa-calendar-check"></i> <span class="nav-label"> @Resource.Label_Appointments</span></a>

        <a class="nav-link" href="/admin/ngu-hanh"><i class="fas fa-star-of-david"></i> <span class="nav-label"> @Resource.Label_ProductTypes</span></a>
        <a class="nav-link" href="/admin/loai-san-pham"><i class="fa-solid fa-recycle"></i> <span class="nav-label"> @Resource.Label_Categories</span></a>
        <a class="nav-link" href="/admin/kich-co"><i class="fas fa-circle-notch"></i> <span class="nav-label"> @Resource.Label_Sizes</span></a>
        <a class="nav-link" href="/admin/chat-lieu"><i class="fa-solid fa-wand-magic-sparkles"></i> <span class="nav-label"> @Resource.Label_Materials</span></a>
        <a class="nav-link" href="/admin/tag"><i class="fas fa-tags"></i> <span class="nav-label"> @Resource.Label_Tags</span></a>
        <a class="nav-link" href="/admin/bao-chi"><i class="fas fa-newspaper"></i> <span class="nav-label"> @Resource.Label_NewsPaperPosts</span></a>
        <a class="nav-link" href="/admin/cam-nhan-khach-hang"><i class="fas fa-comments"></i> <span class="nav-label"> @Resource.Label_CustomerComments</span></a>
        <a class="nav-link" href="/admin/kien-thuc"><i class="fas fa-book"></i> <span class="nav-label"> @Resource.Label_Knowledges</span></a>
        <a class="nav-link" href="/admin/khuyen-mai"><i class="fas fa-percent"></i> <span class="nav-label"> @Resource.Label_Promotions</span></a>

        @*<a class="nav-link" href="/admin/muon-mua">@Resource.Customer_Advising</a>*@

        <a class="nav-link" href="/admin/system-setting"><i class="fas fa-cog"></i><span class="nav-label"> @Resource.Label_SystemSettings </span></a>
    </nav>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) { 
    var href = window.location.href;
    $('.nav-menu .nav-link').each(function(i, nav) {
        $(nav)[href.indexOf(nav.href) > -1 ? "addClass" : "removeClass"]('active');
    })
});
</script>