@using LamMocBaoWeb.Controllers
@using LamMocBaoWeb.Models
@using LamMocBaoWeb.Resources;
@using LamMocBaoWeb.ViewModels
@using Services.Services
@model CreateSizeModel
@inject IServiceConfig _config 

@{
    ViewData["Title"] = @Resource.Label_Sizes;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("SizeAdminCreate", "Size", FormMethod.Post))
{
    <div class="main-dialog" id="main-modal" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Resource.Size_CreateNew_Size</h5>
                <div class="button-group pull-right">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa-solid fa-floppy-disk"></i>
                        @Resource.Common_Create
                    </button>
                    @Html.ActionLink(@Resource.Common_Close, "SizeAdmin", "Size", null, new {
                        @class="btn btn-sm btn-danger"
                    })
                </div>
            </div>
            <div class="main-content">
                <div class="form-content">
                    <div class="col-md-12 ">
                        <div class="form-group row">
                            <label>@Resource.Size_Number</label>
                            <input type="text" class="form-control" placeholder="@Resource.Size_Number" name="Number" value="@Model.Number">
                            @Html.ValidationMessageFor(d => d.Number)
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div class="form-group row">
                            <label>@Resource.Size_Unit</label>
                            <input type="text" class="form-control" placeholder="@Resource.Size_Unit" name="Unit" value="@Model.Unit">
                            @Html.ValidationMessageFor(d => d.Unit)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}